.listing-card {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 10px;
}

.view-details-btn {
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    }

    .view-details-btn:hover {
    transform: scale(1.1);
    }